<div class="experience-conteiner">
    <div class="section-tittle">
        Experiencia
    </div>
    <div class="experience-table">
        <tr *ngFor="let exp of experienceList">
            <div class="row ">
                <div class="col-12">
                    {{exp.role}}
                </div>
            </div>
            <div class="row ">
                <div class="col-6">
                    {{exp.company_name}}
                </div>
                <div class="col-3">
                    {{exp.start_date}}
                </div>
                <div class="col-3">
                    - {{exp.end_date}}
                </div>
            </div>
            <div class="row ">
                <div class="col-12">
                    {{exp.description}}
                </div>
            </div>

        </tr>
       
    </div>
</div>

