<div class="experience-conteiner">
    <div class="section-tittle">
        Experiencia
    </div>
    <div class="experience-table">
        <div class="row ">
            <div class="col-12">
                Trainee Python
            </div>
        </div>
        <div class="row ">
            <div class="col-6">
                INCLUIT
            </div>
            <div class="col-6">
                2022 - 2023
            </div>
        </div>
        <div class="row ">
            <div class="col-12">
                *Tareas*
            </div>
        </div>
    </div>
</div>

