<div class="header-conteiner">
    <div class="header-table">
        <div class="row row-bottom-margin">
            <div class="col-6 mb-0 pb-0 mt-0 pt-0 header-tittle">
                Milagros
            </div>
        </div>
        <div class="row row-bottom-margin">
            <div class="col-6 mb-0 pb-0 mt-0 pt-0 header-tittle">
                Julieta
            </div>
        </div>
        <div class="row row-bottom-margin">
            <div class="col-6 mb-0 pb-0 mt-0 pt-0 header-tittle">
                Molina
            </div>
            <div class="col-6 header-subtittle">
                Desarrolladora FullStack <br/>
                Estudiante de Ingenieria en Sistemas
            </div>
        </div>
    </div>

</div>

