<section class="header-conteiner" >
    <div class="header-table" >
        <div class="header-show" *ngIf="!isLoggedIn; else is_loggedInTrue">
            <div class="row">
                <div class="col-6 header-tittle">
                    {{formHeader.value.first_name}}
                </div>
            </div>
            <div class="row">
                <div class="col-6  header-tittle">
                    {{formHeader.value.second_name}}
                </div>
            </div>
            <div class="row ">
                <div class="col-6 header-tittle">
                    {{formHeader.value.lastname}}
                </div>
                <div class="col-6 header-subtittle">
                    <br><br>
                    {{formHeader.value.degree}}
                </div>
            </div>
        </div>
        <div class="header-edit">
            <ng-template #is_loggedInTrue>
                <form name="formHeader" [formGroup]='formHeader'>
                    <div class="row ">
                        <div class="col-6 ">
                            <input type="text" formControlName="first_name" placeholder="Primer nombre" class="form-control mt-1 bg-transparent header-tittle"
                                [ngClass]="{'is-invalid': (formHeader.controls['first_name'].touched || this.submitted)  
                                && formHeader.controls['first_name'].errors}">
                            <div class="validation" *ngIf="(formHeader.controls['first_name'].touched || this.submitted) 
                                && formHeader.controls['first_name'].hasError('required')">
                                Dato requerido.
                            </div>
                            <div class="validation"
                                *ngIf="(formHeader.controls['first_name'].touched || this.submitted) 
                                && (formHeader.controls['first_name'].hasError('minlength') || formHeader.controls['first_name'].hasError('maxlength')) ">
                                El dato debe tener de 5 a 40 caracteres.
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-6 ">
                            <input type="text" formControlName="second_name" placeholder="Segundo nombre" class="form-control mt-1 bg-transparent header-tittle"
                            [ngClass]="{'is-invalid': (formHeader.controls['second_name'].touched || this.submitted)  
                            && formHeader.controls['second_name'].errors}">
                            <div class="validation"
                                *ngIf="(formHeader.controls['second_name'].touched || this.submitted) 
                                && (formHeader.controls['second_name'].hasError('minlength') || formHeader.controls['second_name'].hasError('maxlength')) ">
                                El dato debe tener de 5 a 40 caracteres.
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-6 ">
                            <input type="text" formControlName="lastname" placeholder="Apellido" class="form-control mt-1 bg-transparent header-tittle"
                            [ngClass]="{'is-invalid': (formHeader.controls['lastname'].touched || this.submitted)  
                            && formHeader.controls['lastname'].errors}">
                            <div class="validation" *ngIf="(formHeader.controls['lastname'].touched || this.submitted) 
                            && formHeader.controls['lastname'].hasError('required')">
                            Dato requerido.
                            </div>
                            <div class="validation"
                                *ngIf="(formHeader.controls['lastname'].touched || this.submitted) 
                                && (formHeader.controls['lastname'].hasError('minlength') || formHeader.controls['lastname'].hasError('maxlength')) ">
                                El dato debe tener de 5 a 40 caracteres.
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12 text-center">
                            <i class="fa fa-solid fa-check fa-2x" (click)="saveName()"></i>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-6">
                            <br><br>
                            <input type="text" formControlName="degree" placeholder="Titulo" class="form-control mt-1 bg-transparent header-subtittle"
                            [ngClass]="{'is-invalid': (formHeader.controls['degree'].touched || this.submitted)  
                            && formHeader.controls['degree'].errors}">
                            <div class="validation" *ngIf="(formHeader.controls['degree'].touched || this.submitted ) 
                            && formHeader.controls['degree'].hasError('required')">
                            Dato requerido.
                            </div>
                            <div class="validation"
                                *ngIf="(formHeader.controls['degree'].touched || this.submitted) 
                                && (formHeader.controls['degree'].hasError('minlength') || formHeader.controls['degree'].hasError('maxlength')) ">
                                El dato debe tener de 5 a 250 caracteres.
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12 text-center">
                            <i class="fa fa-solid fa-check fa-2x" (click)="saveDegree()"></i>
                        </div>
                    </div>

                    <div *ngIf="submitted && formHeader.invalid" class="alert alert-danger mt-2" role="alert">
                        <i class="fa fa-solid fa-exclamation"></i> &nbsp;&nbsp;Revisar los datos ingresados 
                    </div>
                </form>
            </ng-template>
        </div>

        <div class="modal"
                tabindex="-1"
                role="dialog"
                [ngStyle]="{'display':displayStyle}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">GUARDADO</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closePopUp()"></button>
                            </div>
                            <div class="modal-body">
                                Los datos fueron modificados correctamente. 
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closePopUp()">Cerrar</button>
                                
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</section>

