<div class="header-conteiner">
    <div class="header-table">
        <div class="row row-bottom-margin">
            <div class="col-6 mb-0 pb-0 mt-0 pt-0 header-tittle">
                {{header.first_name}}
            </div>
        </div>
        <div class="row row-bottom-margin">
            <div class="col-6 mb-0 pb-0 mt-0 pt-0 header-tittle">
                {{header.second_name}}
            </div>
        </div>
        <div class="row row-bottom-margin">
            <div class="col-6 mb-0 pb-0 mt-0 pt-0 header-tittle">
                {{header.lastname}}
            </div>
            <div class="col-6 header-subtittle">
                <br><br>
                {{header.degree}}
            </div>
        </div>
    </div>

</div>

