.aboutMe-conteiner{
    background: #001524;
    color: rgb(190,190, 190);

    height: 100%;
    width: 100%;
    display: block;
    box-sizing:border-box;
}

.aboutMe-photo {
    border-radius: 999px;
    height: 12rem;
    width: 12rem;
    position: relative;
    box-shadow: 13px 13px rgba(215, 214, 214, 0.1);
    transition: all .4s ease;
}
.aboutMe-photo:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(215,214,214,.10);
  }



.aboutMe-table{
    padding: 8rem 3rem 3rem 3rem;
    font-family: Raleway;
}



.aboutMe-text{
    padding-left: 8rem;
    font-size: large;

}

.aboutMe-edit{
    padding: 4rem 4rem 3rem 4rem;
    font-family: Raleway;
}

.aboutme-input{
    color: rgb(190,190, 190) !important
}

.modal, .link-input{
    color: black
}