.education-conteiner{
    background-image: url("../../../assets/background/4.png");
    color: black;
}

.education-table{
    padding: 2rem 3rem 3rem 3rem;
    font-family: Raleway;
}

.education-item{
    padding-bottom: 1rem;
}

.education-degree{
    text-transform: uppercase;
    font-weight: 900;
    font-size: large;
    width: 100%;
}

.education-institution{
    font-weight: 100;
    font-size: large;
}