<div class="education-conteiner">
    <div class="section-tittle">
        Educación
    </div>
    <div class="education-table">
        <tr *ngFor="let ed of educationList">
            <div class="row ">
                <div class="col-12">
                    {{ed.degree}}
                </div>
            </div>
            <div class="row ">
                <div class="col-6">
                    {{ed.institution}}
                </div>
                <div class="col-3">
                    {{ed.start_date}} - 
                </div>
                <div class="col-3">
                    {{ed.end_date}}
                </div>
            </div>
        </tr>
    </div>
</div>


    


