<section class="education-conteiner">
    <div class="section-tittle">
        Educación
    </div>
    <div class="education-table">
        <div class="education-item" *ngFor="let ed of educationList">
            <div class="row ">
                <div class="col-12 education-degree">
                    {{ed.degree}}
                </div>
            </div>
            <div class="row ">
                <div class="col-6 education-institution">
                    {{ed.institution}}
                </div>
                <div *ngIf="ed.is_current; else is_not_current" class="col-6 education-date">
                    {{ed.start_date}} -  Actualidad
                </div>
                <ng-template #is_not_current class="col-4 experience-date">
                    {{ed.start_date}}  - {{ed.end_date}}
                </ng-template>
            </div>
        </div>
    </div>
</section>


    


