<div class="education-conteiner">
    <div class="section-tittle">
        Educación
    </div>
    <div class="education-table">
        <div class="row ">
            <div class="col-12">
                Ingeniera en Sistemas de Informacion
            </div>
        </div>
        <div class="row ">
            <div class="col-6">
                UNT - FRC
            </div>
            <div class="col-6">
                2019 - Actualidad
            </div>
        </div>
    </div>
</div>


    


