<section class="projects-conteiner">
    <div class="section-tittle">
        Proyectos
    </div>
    <div class="projects-table">
            <div class="row">
                <div class="col-sm-4 project-item" *ngFor="let p of projectsList">
                    <div class="card text-white bg-dark mb-3" style="width: 20rem;" >
                        <img class="card-img-top" src={{p.photo}} alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{p.tittle}}</h5>
                            <p class="card-text">{{p.description}}</p>
                            <a href={{p.link_deploy}} target="_blanck" *ngIf="p.link_deploy != null "><i class="fa fa-sharp fa-regular fa-rocket fa-2x"></i></a>
                            <a href={{p.link_github}} target="_blank"><i class="fa fa-brands fa-github fa-2x"></i></a>
                        </div>
                    </div>
                </div>    <br/><br/>
            </div> 
    </div>
</section>

