<div class="header-conteiner">

    
        <!-- <ul class="navbar-nav center mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sobre Mi</a>
            </li>
            <li className="nav-item">
                <a class="nav-link" href="#">Experiencia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Educacion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Habilidades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Proyectos</a>
            </li>
        </ul> -->
            
    

  <!-- <div class="header">
    <div class="row header-name">
        <div class="col-12">Milagros</div>
    </div>
    <div class="row header-name">
        <div class="col-12">Julieta</div>
    </div>
    <div class="row header-name">
        <div class="col-6 center-block">Molina</div>
        <div class="col-6 center-block">Desarrolladora Full Stack <br> Estudiante de Ingenieria en Sistemas </div>
    </div>
    <h1 class="header-name"> <br> Julieta <br> Molina</h1>
    <p>Desarrolladora Full Stack - Estudiante de Ingenieria en Sistemas </p> 
  </div> -->

</div>

