<div>
    <nav class="navbar transparent navbar-expand-lg sticky-top">
        <img src="../../../assets/Logo.png" width="110" height="60" alt="">
        <!-- <a class="navbar-brand" href="#">Argentina Programa #YoProgramo</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <strong>Argentina Programa #YoProgramo</strong>
            </li>
        </ul>
        <!-- <ul class="navbar-nav center mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sobre Mi</a>
            </li>
            <li className="nav-item">
                <a class="nav-link" href="#">Experiencia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Educacion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Habilidades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Proyectos</a>
            </li>
        </ul> -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <button class="btn btn-dark">Iniciar Sesion</button>
                </li>
            </ul>
        </div>
  </nav>
</div>

